/* ----------------------- *\ 
     Mixin Declaration
\* ----------------------- */

@mixin btnStyle {
    border-radius: 2px;
    background-color: $body;
    font-size: .9rem;
    font-family: $title-font;
    color: $white;
    font-weight: 700;
    padding: 15px 20px;
    box-shadow: $body 0 0 5px;
}

@mixin btnHover {
    background-color: $white;
    color: $body;
    border: 2px solid $body;
}

@mixin tablet {
    @media (min-width: 700px) and (max-width: 991px) {
        @content;
    }
}

@mixin largeTablet {
    @media (min-width: 992px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin pageMargin {
    margin: 15% 0%;
    
    @include tablet {
        margin: 15% 0% 2%;
    }

    @include largeTablet {
        margin: 15% 0% 2%;
    }

    @include desktop {
        margin: 5% 0%;
    }
}

@mixin contentMargin {
    margin: 4% 2%;

    @include tablet {
        margin: 5%;
    }

    @include largeTablet {
        margin: 7%;
    }

    @include desktop {
        margin: 7% 3% 0%;
    }
}