/* ----------------------- *\ 
     Mixin Declaration
\* ----------------------- */

@mixin borderShadow {
    -webkit-box-shadow: $light-purple 0px 0 5px;
    -moz-box-shadow: $light-purple 0 0 5px;
    box-shadow: $light-purple 0 0 5px;
}

@mixin btnStyle {
    border-radius: 5px;
    background-color: $light-purple;
    font-size: .9rem;
    font-family: $title-font;
    color: $white;
    font-weight: 700;
    padding: 15px 20px;
    
    border: 1px solid $dark-purple;
    @include borderShadow();
}

@mixin btnHover {
    background-color: $white;
    color: $dark-purple;
    border: 2px solid $dark-purple;
}

@mixin tablet {
    @media only screen 
    and (min-device-width: 768px)
    and (-webkit-min-device-pixel-ratio: 1) {
        @content;
    }
}

@mixin tabletLandscape {
    @media only screen 
    and (min-device-width: 768px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
        @content;
    }
}

@mixin desktop {
    @media screen
    and (min-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
        @content;
    }
}

@mixin pageMargin {
    margin: 15% 0%;
    
    @include tablet {
        margin: 15% 0% 2%;
    }

    @include desktop {
        margin: 5% 0%;
    }
}

@mixin contentMargin {
    margin: 4% 2%;

    @include tablet {
        margin: 5%;
    }

    @include desktop {
        margin: 7% 3% 0%;
    }
}


@mixin pageTitle {
    font-family: $title-font;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 10%;

    @include tablet {
        font-size: 2.8rem;
        margin-top: 15%;
    }

    @include tabletLandscape {
        margin-top: 10%;
    }

    @include desktop {
        font-size: 3.2rem;
        margin-top: 5%;
    }
}

@mixin pageTop {
    padding: 5% 1% 5% 5%;

    @include tablet {
        padding: 0 5%;
    }

    @include tabletLandscape {
    }

    @include desktop {
        padding: 0;
        margin: 0% 5% 2% 5%;
    }
}
