* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// Reduce animation when preferred
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        transition-delay: 0ms !important;
        scroll-behavior: auto !important;
    }
}
html {
    background-color: $body;
    scroll-behavior: smooth;
}
section {
    width: 100vw;
    min-height: 100vh;
}
body {
    font-family: $body-font;
    color: $body;

    display: flex;
    flex-direction: column;

    background: linear-gradient(-30deg, $blue, $purple);
    background-size: 400% 400%;
    animation: gradient 10s ease-in-out infinite;
    
    @keyframes gradient {
        /* ref: https://codepen.io/hylobates-lar/pen/qBbQeON */
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
li {
    list-style: none;
}
.iconify {
    width: 1.9rem;
    height: 1.9rem;
}
