/* ----------------------- *\ 
     Variable Declaration
\* ----------------------- */

// Font Variables
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;700&display=swap');
$body-font: 'Open Sans', sans-serif;
$title-font: 'Poppins', sans-serif;

// Main Colour Palette Variables
$white: #FEFEFC;
$yellow: #E7E8B0;
$light-purple: #746E90; 
$light-pink: #ED71A4;
$pink: #C6536E;
$purple: #583C62;
$dark-purple: #392C3F;