// Font Variables
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;700&display=swap');
$body-font: 'Open Sans', sans-serif;
$title-font: 'Poppins', sans-serif;

// Colour Palette Variables
$dark-blue: #187b91;
$blue: #438796;
$light-blue: #629CA7;
$dark-purple: #5A6080;
$purple: #716387;
$light-purple: #746E90;

// Misc Colour Variables
$body: #061225;
$white: #fafafa;
$body-opaque: rgba(6, 18, 37, 0.8);