/* ----------------------- *\ 
    Main CSS Style Rules
\* ----------------------- */

@import './variables';
@import './resets';
@import './mixins';
@import './nav';

// Home Section
#home {

    @include tablet {
        padding: 0 10%;
    }

    @include largeTablet {
        padding: 0 10%;
    }

    @include desktop {
        padding: 0 5%;
    }

    #home-content {
        min-height: 100vh;
    
        #home-text {
            max-width: 90%;
            text-align: left;
            margin: 0% 20% 18% 2%;

            h1 {
                font-family: $title-font;
                font-size: 2rem;
                border-right: solid 3px $white;
                letter-spacing: 2px;
                padding-right: 5px;
                white-space: nowrap;
                overflow: hidden; 
                max-width: max-content;
                animation: 
                    text 2s steps(29,end) .5s 1 normal both,
                    cursor 600ms steps(29,end) infinite;

                @include tablet {
                    font-size: 2.8rem;
                }

                @include largeTablet {
                    font-size: 3.2rem;
                }

                @include desktop {
                    font-size: 3.2rem;
                }
            }

            /* Text Animation */
            @keyframes text{
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }

            /* Cursor Animation */
            @keyframes cursor{
                from {
                    border-right-color: $white;
                }
                to {
                    border-right-color: transparent;
                }
            }
    
            h5 {
                font-size: 1.2rem;

                @include tablet {
                    font-size: 1.8rem;
                }

                @include largeTablet {
                    font-size: 1.9rem;
                }

                @include desktop {
                    font-size: 1.9rem;
                }
            }
    
            p {
                margin-bottom: 2rem;

                @include tablet {
                    font-size: 1.3rem;
                }

                @include largeTablet {
                    font-size: 1.4rem;
                }

                @include desktop {
                    font-size: 1.4rem;
                }

                a:hover, a:focus, a:active {
                    color: $white;
                }
            }

            .btns {
                @include btnStyle;
                
                @include tablet {
                    font-size: 1rem;
                }

                @include largeTablet {
                    font-size: 1.2rem;
                }

                @include desktop {
                    font-size: 1.2rem;
                }
                
            }
            #home-btn {
                margin-right: 10px;
            }
            .btns:hover {
                @include btnHover;
            }


            @include tablet {
                max-width: 90%;
                margin: 0 20% 20% 1%;
            }

            @include largeTablet {
                max-width: 80%;
                margin: 0 20% 20% 1%;
            }

            @include desktop {
                max-width: 60%;
                margin: 0 15% 10% 1%;
            }
        }
    }
}


// Page Title Styling
.page-top {

    padding: 10% 5%;
    margin-top: 15%;

    @include tablet {
        padding: 0 5%;
    }

    @include largeTablet {
        padding: 0 10%;
    }

    @include desktop {
        padding: 0 5%;
    }


    .page-title {
        h1 {
            font-family: $title-font;
            font-size: 2rem;
            letter-spacing: 2px;
    
            @include tablet {
                font-size: 2.8rem;
            }
    
            @include largeTablet {
                font-size: 3.2rem;
            }
    
            @include desktop {
                font-size: 3.2rem;
            }
        }
    }
}



// Projects Section
#project-carousel {

    padding: 10% 5%;
    background-color: $white;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: $body-opaque 0px 0 10px;
    -moz-box-shadow: $body-opaque 0 0 10px;
    box-shadow: $body-opaque 0 0 10px;

    @include tablet {
        margin: 10%;
    }

    @include largeTablet {
    }

    @include desktop {
    }

    .carousel-indicators {
        li {
            background-color: $body;   
        }
    }

    .carousel-inner{
        width: 100%;
        height: 100%;
        
        .card {
            padding: 5%;
            border: none;

            @include tablet {
                padding: 4%;
            }

            @include largeTablet {
            }

            @include desktop {
            }

            img {
                padding: 5%;

                @include tablet {
                    padding: 0;
                }

                @include largeTablet {
                }

                @include desktop {
                }
            }

            .card-body {
                .card-title {
                    font-family: $title-font;
                    color: $body;
                    font-weight: 600;

                    @include tablet {
                        font-size: 2rem;
                    }

                    @include largeTablet {
                    }

                    @include desktop {
                    }
                }

                .card-divider {
                    /*ref: https://stackoverflow.com/questions/12639823/hr-not-showing*/
                    margin: 10px 0;
                    border: 0;
                    clear: both;
                    width: 100%;
                    height: 2px;
                    border-radius: 25%;
                    
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    -webkit-box-shadow: inset 0 12px 12px -12px $body-opaque;
                    -moz-box-shadow: inset 0 12px 12px -12px $body-opaque;
                    box-shadow: inset 0 12px 12px -12px $body-opaque;
                }
                .card-link {
                    background-color: $body;
                    color: $white;
                    padding: 3% 7%;

                    border-radius: 2px;
                    font-size: .9rem;
                    font-family: $title-font;
                    -webkit-box-shadow: $body 0 0 2px;
                    -moz-box-shadow: $body 0 0 2px;
                    box-shadow: $body 0 0 2px;

                    @include tablet {
                        padding: 2% 5%;
                        border-radius: 5px;
                        font-size: 1rem;
                    }

                    @include largeTablet {
                    }

                    @include desktop {
                    }
                }
                .card-link:hover {
                    @include btnHover;
                }
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        .carousel-btn{
            i {
                color: $body-opaque;
                font-size: 1.5rem;
            }
        }

        @include tablet {
            width: 10%;
        }

        @include largeTablet {
        }

        @include desktop {
        }
    }
}
