/* ----------------------- *\ 
    Main CSS Style Rules
\* ----------------------- */

@import './variables';
@import './resets';
@import './mixins';
@import './nav';
@import './divider';

// Home Section
#home {

    background-color: $dark-purple;

    @include tablet {
        padding: 0 10%;
    }

    @include desktop {
        padding: 0 5%;
    }

    #home-content {
        min-height: 100vh;
    
        #home-text {
            max-width: 90%;
            text-align: left;
            margin: 0% 20% 18% 2%;

            h1 {
                font-family: $title-font;
                font-size: 2rem;
                color: $yellow;
                border-right: solid 3px $white;
                letter-spacing: 2px;
                padding-right: 5px;
                white-space: nowrap;
                overflow: hidden; 
                max-width: max-content;
                animation: 
                    text 2s steps(29,end) .5s 1 normal both,
                    cursor 600ms steps(29,end) infinite;

                @include tablet {
                    font-size: 2.8rem;
                }

                @include desktop {
                    font-size: 3.2rem;
                }
            }

            /* Text Animation */
            @keyframes text{
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }

            /* Cursor Animation */
            @keyframes cursor{
                from {
                    border-right-color: $white;
                }
                to {
                    border-right-color: transparent;
                }
            }
    
            h5 {
                font-size: 1.2rem;
                color: $pink;

                @include tablet {
                    font-size: 1.8rem;
                }

                @include desktop {
                    font-size: 1.9rem;
                }
            }
    
            p {
                margin-bottom: 2rem;

                @include tablet {
                    font-size: 1.3rem;
                }

                @include desktop {
                    font-size: 1.4rem;
                }

                a:hover, a:focus {
                    color: $pink;
                }
                
                a:active {
                    color: $white;
                }
            }

            .btns {
                @include btnStyle;
                
                @include tablet {
                    font-size: 1rem;
                }

                @include desktop {
                    font-size: 1.2rem;
                }
                
            }
            #home-btn {
                margin-right: 10px;
            }
            .btns:hover {
                @include btnHover;
            }


            @include tablet {
                max-width: 90%;
                margin: 0 20% 20% 1%;
            }

            @include desktop {
                max-width: 60%;
                margin: 0 15% 10% 1%;
            }
        }
    }
}


// Projects Section
#project-carousel {

    padding: 10% 5%;
    margin: 10% 2% 1%;
    background-color: $white;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: $dark-purple 0px 0 10px;
    -moz-box-shadow: $dark-purple 0 0 10px;
    box-shadow: $dark-purple 0 0 10px;

    @include tablet {
        margin: 10%;
        height: 65%;
    }

    @include tabletLandscape {
        margin: 5% 8%;
        padding: 5%;
    }

    @include desktop {
        margin: 0 auto 10%;
        padding: 2%;
        width: 75%;
        height: 70%;
    }

    .carousel-indicators {
        li {
            background-color: $dark-purple;   
        }
    }

    .carousel-inner{
        width: 100%;
        height: 100%;
        
        .project-card {
            padding: 5%;
            border: none;

            @include tablet {
                padding: 4%;
            }

            @include tabletLandscape {
                padding: 4% 4% 0;
            }

            @include desktop {
                padding: 4%;
                height: 100%;
                width: 100%;
            }

            .project-header {
                img {
    
                    @include tablet {
                        padding: 0;
                    }
    
                    @include desktop {
                        padding: 0;
                    }
                }
            }


            .project-body {

                .project-title {
                    font-family: $title-font;
                    color: $dark-purple;
                    font-weight: 600;
    
                    @include tablet {
                        font-size: 2rem;
                    }
    
                    @include desktop {
                        font-size: 2rem;
                    }
                }
    
                .project-divider {
                    /*ref: https://stackoverflow.com/questions/12639823/hr-not-showing*/
                    margin: 10px 0;
                    border: 0;
                    clear: both;
                    width: 100%;
                    height: 2px;
                    border-radius: 25%;
                    
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    -webkit-box-shadow: inset 0 12px 12px -12px $dark-purple;
                    -moz-box-shadow: inset 0 12px 12px -12px $dark-purple;
                    box-shadow: inset 0 12px 12px -12px $dark-purple;

                    @include desktop {
                        margin: 10px 0 15px;
                    }
                }

                .project-text {
                    @include desktop {
                        font-size: 1.2rem;
                        line-height: 35px;
                    }
                }
                .project-link {
                    color: $dark-purple;
                    font-size: 1.1rem;
                    font-family: $title-font;
                    font-weight: 700;

                    @include desktop {
                        font-size: 1.3rem;
                        line-height: 35px;
                    }
                }
                .project-link:hover {
                    @include btnHover;
                }
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {

        width: 10%;
        .carousel-btn{
            i {
                color: $dark-purple;
                font-size: 1.5rem;

                @include desktop {
                    font-size: 1.8rem;
                }
            }
        }

        @include tablet {
            width: 10%;
        }

        @include tabletLandscape {
            width: 7%;
        }

        @include desktop {
            width: 3%;
        }
    }
}


// Skills Section
#skills-sec {
    margin: 2% 5%;

    .skills-title{
        font-family: $title-font;
        font-weight: 500;
    }
}
