/* ----------------------- *\ 
        Font Imports 
\* ----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla&family=Montserrat&display=swap');

/* ----------------------- *\ 
        Root Variables
\* ----------------------- */

:root {
    /* Font Variables */
    --body-font: 'Montserrat', sans-serif;
    --alt-font: 'Anek Bangla', sans-serif;

    /* Colour Palette Variables */
    --dark-blue: #4A7B82;
    --blue: #568F96;
    --light-blue: #B9D3D6;

    /* Misc Colour Variables */
    --white: #fafafa;
    --body: #252525;
}

/* ----------------------- *\ 
       Special Styling
\* ----------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    padding: 1em 2em;
    line-height: 1.6;
    font-family: var(--body-font);
    color: var(--body);
}
section {
    width: 100vw;
    min-height: 100vh;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
li {
    list-style: none;
}


/* ----------------------- *\ 
            Navbar
\* ----------------------- */

.nav-link:hover, .nav-link.active {
    color: var(--blue) !important;
}

/* Styling for nav links in navigation bar */

.navbar-nav{
    padding: 16px;
}
.nav-link {
    font-size: 1.25em;
}

.navbar-nav .active{
    color: var(--colour2);
}


/* ----------------------- *\ 
           Footer
\* ----------------------- */

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-blue);
    font-size: 20px;
}

#footer-hr {
    width: 268px;
    height: 1px;
    background-color: var(--light-blue);
}

#footer-icons {
    display: flex;
    align-items: flex-start;
    gap: 40px
}
#footer-icons > img {
    width: 40px;
    height: 40px;
}

/* ----------------------- *\ 
        Media Query
\* ----------------------- */

/* Breakpoint on Tablet device */
@media (min-width: 700px) {
    /* --- Nav --- */
    .nav-link {
        display: inline-block;
        position: relative;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--blue);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .nav-link:hover::after {
        color: var(--blue);
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

/* Breakpoint on Larger Tablet device */
@media (min-width: 992px) {
    /* --- Nav  --- */
    
}

/* Breakpoint on a Laptop Screen */
@media (min-width: 1025px) {
    /* --- Nav  --- */

}
